################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MDK Combined Test
/MDK-SE-master
/MDKScript
